In [38]:
import pandas as pd
import numpy as np
import re

In [3]:
raw_data = pd.read_csv('GBBO Data Set - Bakes.csv')
raw_data.head()

,Season,Week Number,Baker,Week Name,Bake,Signature Bake,Signature Time Allotment (hours),Signature Sweet (1) or Savory (0),Signature Quantity,Signature Handshake,...,Showstopper Sweet (1) or Savory (0),Showstopper Quantity,Showstopper Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Competed,Winner,UK viewers (millions)
0,Series 1,1,Annetha,Cake,Cake,Light Jamaican Black Cake with Strawberries an...,3,1,1,0,...,1,1,0,1.0,0,0,0,1,0,NaN
1,Series 1,1,David,Cake,Cake,Chocolate Orange Cake,3,1,1,0,...,1,1,0,0.0,1,0,0,1,0,NaN
2,Series 1,1,Edd,Cake,Cake,Caramel Cinnamon and Banana Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,1,NaN
3,Series 1,1,Jasminder,Cake,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN
4,Series 1,1,Jonathan,Cake,Cake,Carrot Cake with Lime and Cream Cheese Icing,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN

In [4]:
raw_data.dtypes

Season                                  object
Week Number                              int64
Baker                                   object
Week Name                               object
Bake                                    object
Signature Bake                          object
Signature Time Allotment (hours)        object
Signature Sweet (1) or Savory (0)       object
Signature Quantity                      object
Signature Handshake                      int64
Technical Bake                          object
Technical Recipe Writer                 object
Technical Time Allotment (hours)        object
Technical Sweet (1) or Savory (0)      float64
Technical Quantity                      object
Technical Rank                         float64
Showstopper                             object
Showstopper Bake                        object
Showstopper Time Allotment (hours)      object
Showstopper Sweet (1) or Savory (0)     object
Showstopper Quantity                    object
Showstopper Handshake                    int64
Favorite                               float64
Least Favorite                           int64
Star Baker                               int64
Eliminated                               int64
Competed                                 int64
Winner                                   int64
UK viewers (millions)                  float64
dtype: object

In [5]:
clean_data = raw_data[["Season","Week Number","Baker","Bake","Signature Bake"]]
clean_data["Sweet"] = raw_data["Signature Sweet (1) or Savory (0)"].astype("bool")
clean_data["Handshake"] = raw_data["Signature Handshake"].astype("bool")
clean_data = pd.concat([clean_data,raw_data[["Favorite","Least Favorite","Star Baker","Eliminated","Winner"]].astype("bool")], axis=1)
clean_data.head()

,Season,Week Number,Baker,Bake,Signature Bake,Sweet,Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Winner
0,Series 1,1,Annetha,Cake,Light Jamaican Black Cake with Strawberries an...,True,False,True,False,False,False,False
1,Series 1,1,David,Cake,Chocolate Orange Cake,True,False,False,True,False,False,False
2,Series 1,1,Edd,Cake,Caramel Cinnamon and Banana Cake,True,False,False,False,False,False,True
3,Series 1,1,Jasminder,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,True,False,False,False,False,False,False
4,Series 1,1,Jonathan,Cake,Carrot Cake with Lime and Cream Cheese Icing,True,False,False,False,False,False,False

In [63]:
titles = clean_data["Signature Bake"]
words = []
words_in_titles = []
numErrors = 0
for title in titles:
    try:
        if(type(title) is str):
            words_in_titles.append(re.split('( |/|\t|\n|-)', title))
            words.extend(words_in_titles[-1])
    except Exception as e:
        numErrors = numErrors + 1
        print(e)
        print(title)
        break

unique_words = set(words)
print(unique_words)
print(numErrors)

{'', 'Four', 'Nutty', 'Great', 'Panda', 'Raisins', 'Melting', 'Kumquat', 'Chunk', 'Melts', 'Treble', 'Broccoli', 'Liquorice', 'Hazelnut,', 'Seeded', 'Steamed', 'Halwa', 'A', 'Seeds', 'Tiramisu', 'Chilli', 'Pie', 'Gingerbread', 'Lime', 'Game', 'Savoury', 'Frosting', 'Morning', 'Cup', 'Apple,', 'Strawberry,', 'Cyflym', 'Date', 'Redcurrant', 'Meat', 'Almonds', 'Stout', 'Danish', 'Mandarin', 'Mess', 'Turkish', 'Curd', 'Orange,', 'Baba', "Dreams'", 'Crumble', 'Perkins', 'away', 'Have', 'Curry', 'Lemon', 'Puddings', 'Profiteroles', 'Pancetta', 'Tear', 'Orangey', 'Jackfruit,', 'Sourdough,', 'Crystals', 'Kardemummabullar', 'Coulibiac', 'Poached', 'Middle', 'Frosted', 'to', 'Coco', 'Fruits', 'Tomato,', 'Empanadas', 'Chaussons', 'Spice', 'Babas', 'Everything', 'Sunday', 'Cookie', 'Sultana', 'Coriander', 'Barfi', 'Inspired', 'Devonshire', 'Molten', 'Plait,', 'Hole', 'Pear', 'Me', 'Roll', 'Pitcaithly', 'Baked', 'Pick', 'Zingy', 'De', 'Chicken,', 'Crab,', 'Three', 'Apple', 'Lavender', 'Ginger,', 'Chutney', 'Pleaser', 'Venison', 'Shallot', 'Brie', 'Marula', 'Sky', 'Gruyère', 'Nicely', 'Braid', 'Chicken', 'Florentine', 'Palmiers', 'Pumpkin', 'Green', 'au', 'Tree', 'India', 'Rainbow', 'Paneer', 'for', 'Lemonade', 'Petal', "Millionaires'", 'Drinks', 'Plait', 'Pizza', 'Whip', 'Nigella', 'Duck', 'Pina', 'Tangzhong', 'Diplomat', 'Limoncello', 'Multi', 'Honeyed', 'Drip', 'Garlic', 'Puffs', 'Aperitif', 'Rosemary', 'Asian', 'Bunting', 'Bannock', 'Egyptian', 'Star', 'Aberffraw', 'Flour', 'Two,', 'Tart', 'Tiffin', 'City', 'Yuzu', 'Apricot', "'Creams'", 'Blossom', "America'", 'Festival', 'Farthing', 'Bonus', 'Chutney,', 'Pastries', 'of', "Millionaire's", 'Semlor', 'Gujarela', 'Spices', 'Tomatoes', "Latte'", 'Pâtissière', 'and', 'Mozzarella,', 'Baa', 'Citrus', 'Doughnuts', 'Spicy', 'Towering', 'Fennel', 'Battenberg', 'Potato,', 'Free', 'Sandwich', 'Cream', 'Apples', 'Bramble', '\n', 'Pandan', 'Fingers', 'Raisin', 'Prawn', 'Barbecue', 'Traybake', 'Pineapple,', 'Chocolat', 'Lemon,', 'Balsamic', 'Brownies', 'Parsnip', 'Mascarpone', 'Noson', 'Pumpkin,', 'Carom', 'New', 'Triple', 'Tatin', 'Mediterranean', 'Cauliflower,', 'Ham', 'Nut', 'Baklava', 'Chiffon', 'Espresso', 'Eton', 'Printanière', 'Cheddar', 'Dates,', 'Lemons', 'Romantic', 'Mojito', 'Topped', 'Seed', 'Street', 'Mardi', 'Oxford', 'Hemp', 'Cheese,', 'Pies', 'Gravy', 'Kiwi', 'Swedish', 'Madeleines', 'Coconut,', 'Ice', 'Fudge', 'Amaretto', 'Focaccia', 'Tropical', 'Purée', 'Saucy', 'Burfi', 'Walnut,', 'Prune', 'Traditional', 'Cheshire', 'The', 'Finnish', 'Flats', 'Brownie', 'Shanghai', 'Chai', 'Jubilee', 'Dried', 'Creme', 'Compromise', 'Paprika', 'Down', 'Tarts', 'Bait', 'Cumin', 'Grapefruit', 'Maple', 'Roly', 'cream', 'Forest', 'Soda', 'Watercress', 'Grey', 'Lait', 'Foldovers', 'Da', 'Zupfe', 'Boaring', 'Tangy', 'vs', 'Pigeon', 'chip', 'Langues', 'Roasted', 'Bonfire', 'Quarantine', 'Thins', 'Cranberry', 'Mushroom', 'Nutmeg', 'Caraway', 'Bundt', 'Cakes', 'Wheat', 'Picante', 'Horns', 'Wood', "Summer's", 'Bittersweet', 'Tagine', 'Guglhupf', "Ploughman's", 'Taboon', 'Clove', 'Cross', 'Keralan', 'Brûlée', 'Madeira', 'Feuille', 'Pecan,', 'Buns', 'Cardiff', 'Margarita', 'Moments', 'Samosas', 'Strawberry', 'Plum', 'Smoky', 'Manchester', 'Domed', 'Mango,', 'Kale', 'Almond', 'Light', 'Bacon', 'Peach,', 'Barmbrack', 'Easter', 'Your', '1920s', 'Piggy', 'Seabass', 'Pink', 'Caerphilly', 'Wasabi', 'Gin', 'Vanilla', 'Stromboli', 'Style', 'Waistcoat', 'Pinwheels', 'Marley', 'Coffee', 'Cheeseburger', 'Manchego', 'Hmmmm', 'Boy', 'Chantenay', 'Chorizo', 'Armagnac', 'Dose', 'Roulade', 'Dulce', 'Poppy', 'the', 'Parmesan', 'Homely', "Christmas'", 'Tequila,', 'Giant', 'Gingernuts', 'Caramel', 'Swirly', 'Tipple', 'Pontefract', 'Crusty', 'Bara', 'Cheese', 'Ham,', 'Beetroot', 'Empire', 'Gras', 'Cardamom,', 'Crusted', 'Savarins', 'Zesty', 'Beehive', 'Peanut', 'Sunflower', 'Cauliflower', 'Squashy', 'Vinci', 'Wreath', 'Carrots', 'freshly', 'Polenta', "Dad's", 'Blood', 'Malt,', 'Coconut', 'Shrewsburys', 'Picnic', 'Father', 'Breadsticks', 'Yeast', 'Chickpea,', '-', 'Kirsch', 'Cake', "S'mores'", 'Rhubarb', 'Walnut', 'Pickle', 'Tomato\xa0Quiches\xa0and\xa0Mascarpone\xa0Squirrel', 'de', 'Ambulance', 'Candied', 'Poly', 'Magic', 'Caws', 'Rustic', 'Choi', 'Breakfast', 'Minced', 'Little', 'Slice', 'Oatcakes', 'Leche', 'Pork', 'Shaped', 'Cranachan', 'Bunskis', 'Sohan', 'Aloo', 'Chestnut', 'Creams', 'Savarin', 'Brown', 'Sunshine', 'Desert', 'Beef', 'Ripple', 'Wedding', 'Two', 'Cheesy', 'Brith)', 'Mum', "'With", 'Potato', 'Vanilla,', 'Piña', 'Ginger', 'Miniature', 'Marzipan', 'Haddock', 'Cinnamon', 'Café', 'Cardamom', 'Frasier', 'Pot', 'Meringue', 'Kugelhopf', 'Feathered', "Grandma's", 'Roast', 'Surprise', 'Cookies', 'Swirls', 'Comforts', 'Fish', 'Window', 'Apricot,', 'Italy', 'Less', 'Cheesecake', 'Hearts', 'Witch', 'Hot', 'Gâteau', 'Dick', 'Carroty', 'Panettone', 'Bombay', 'Rose', 'Posto', 'Mushroom,', 'Fusion', 'Ode', '(Our', 'Honeycomb', 'Zest', 'Cider', 'Friands', 'Fruity', 'Haggis', 'Butter', 'Aromatic', 'Rong', 'Torte', 'Drizzle', 'District', 'Celebration', 'Dumplings', 'Salmon', 'Cheesecakes', '/', 'Toffee', 'Indian', 'Roquefort', 'Croissants', 'Kawaii', 'Hummus', 'Island', 'Mocha', 'Mont', 'Blue', 'Decadent', 'Spinach', 'Mallow', "It'", 'Eastern', 'Katsu', 'Triangles', 'Twisty', 'Water', 'Crab', 'Adventure', 'Virgin', 'Grissini', 'Caramelised', 'Summer', 'Truffle', 'Glass', 'Raspberry,', 'Sage', 'Fours', 'Tudor', 'Gobi', 'Masala', 'Chilli,', 'Naan', 'Jam', 'Raisins,', 'Gorgonzola', 'Florentines', 'Cupcakes', 'Pecan', 'Night)', 'Nuts', 'Chip', 'Tortillas', 'York', 'Rum', 'Moroccan', 'Not', 'Fruit', 'Country', 'Trucking', 'Nana', 'Treats', "Arundel's", 'Pithivier', 'Martini\xa0Madeleines', "Kick'", 'My', 'Italiano', 'Créme', 'Babka', 'Burger', 'Yoghurt', 'Onions', "Victoria's", 'Biscuits"', 'Chelsea', 'Malt', 'Financiers', 'Sun', 'Tofu', 'Post', 'Pears', 'Perfect', 'German', 'Pudding', 'Marshmallow', '(Cheese', 'Novel', 'Choc', 'Cupcake', 'Colada', 'Cinnamon,', 'Marmalade', 'Butternut', 'Smørrebrød', 'Chopped', 'Cod', 'Croque', 'Blackberry', 'Elephant', "Family's", 'Liqueur', 'Brioche', 'Japanese', 'Cupcakes,', 'White', 'Bumblebee', 'Bakewell', 'Flavours', 'Brith', "Mamgu's", 'Chocolate', 'Chocolate,', 'Sticky', 'Amarene', 'Simnel', 'Lentil', 'Roti', "Rogers'", 'nutty', 'Shallot,', "S'mores", 'Scandinavian', 'Honey', 'Pasties', 'Leek,', 'Chat', 'Spanish', 'Raspberry', 'Millionaire', 'Tonic', 'Lardy', 'Lady', 'Sugar', 'Brûlées', 'Cornish', 'Granola', "Summer'", 'Royal', "Peg's", 'Kedgeree', 'Choux', 'Pepper', 'Frangipane', 'Gluten', 'Tutti', 'Herby', 'Plaits', 'Answer', 'Amber', 'Christmas', 'Quick', 'Childhood', 'Double', 'Streaky', 'Cygnets', 'Cone', 'Fondants', 'Naked', 'Favourite', 'Spinach,', 'Mango', 'Asparagus', 'Early', 'Blueberry', 'Crème', 'Misti', "Treats'", 'Flower', 'Kachori', 'Shortbread', 'Banana', 'Peach', 'Wellington', "Za'atar", 'Wellingtons', 'Timperley', 'Couronne', 'Stained', 'Classic', 'Glaze', 'Shiny', 'Peppers', 'Fresh', 'Ni', 'Oat', 'Lamb', 'Somewhere', 'Mint,', 'Rotis', 'Family', 'Attract', 'Sundried', 'Pesto', 'Chaat', 'Tasty', 'Sponges', 'Pear,', "Past'", 'Lake', 'Passion', 'Roadkill', 'Vegetable', '"A', 'Custard', 'Eat', 'Citron', 'Cheeky', 'Pak', 'Cambozola', 'Wicked', 'Pomegranate', 'Bacon,', 'Biscuits', 'Sauce', 'Celeriac', 'on', 'Clootie', 'Spelt', 'Jalapeño', 'Broads"', 'Sausage', 'Teulu', 'Mega', 'Crackers', 'Red', 'Good', 'Bunny', 'Chorizo,', 'Onion,', 'Praline', 'Lincolnshire', 'Yorkshires', 'Rosewater', 'Crown', 'Ghost', 'Mixed', 'Singara', 'Parma', 'Parsnip,', 'Blanc', "'Tapas'", 'Rhubarb,', 'Twist', 'Indulgence', 'Cassis', 'Winter', 'Muscat', 'Peak', 'Spirals', 'Turmeric', "Granny's", 'Kick', 'made', 'Proper', 'Lemongrass', 'Prosciutto,', 'Thyme', 'Tarte', 'Carrot', 'Peacock', 'Smoked', "Flute'", 'Fig', 'Dukkah', 'Granny', 'Gimmie', 'Oatmeal', 'Night', 'Opera', 'flavored', 'Peppermint', 'Bay', 'Cherrylicious', 'Breads', '"Wheelie', 'Opposites', 'Goats', 'Spring', 'Layers', 'Rarebit', 'Onion', 'Devon', 'English', 'Berry', 'Jamaican', 'Layered', 'Gym', 'Nikuman', 'Orange', 'Mojito\xa0Madeleines', 'Welsh', '&', 'Swiss', 'Crunchy', 'Calvados', 'Cob', '"Beer"', 'Filled', 'Anchovy,', 'Smørrebrød\r', 'Cherry', 'Accompaniment', 'After', 'Loaf', 'In', 'Velvet', 'Treacle', 'Goosnargh', 'East', 'Yorkshire', 'Mangoes', 'Brunch', 'Wild', 'Explosion', 'Hazelnut', 'Pea', 'Salsa', 'Tea', 'Bazaar', 'Abricot', 'Belly', 'Veg', 'a', 'Mousse', 'Rhum', "Mum's", 'Mocha,', 'Earl', 'Quiche', 'Red,', 'Passionfruit', 'Saffron', 'Zaatar', 'Swirl', 'Crunch', 'Cayenne,', 'Custards', 'Lassi', 'Nougat', 'Flowers', 'Treat', 'Sesame', 'Caramel,', 'Holiday', 'Warm', 'Figgy', 'Stem', 'Summery', 'Plum,', 'Clementine', 'with', 'Iced', 'Strawberries', 'Chapatis', 'Jelly', 'Own', 'Rye', 'For', 'Barberry', 'Dinner', 'Ways', 'Bread', 'Share', 'Mexican', 'Jalapeño,', 'Quiches', 'Clements', 'y', 'Florida', 'in', 'Hummingbird', 'Salt', 'Stilton', 'ét', 'Falafel', ' ', 'Fancy', 'Banoffee', 'Salad', 'Queen', 'Salted', 'Thai', 'Ghugni', 'Oregano', 'Grapefruit,', 'Sweet', 'Biscotti', 'Petits', 'Tartlets', 'Halloween', 'Spotted', 'Pineapple', 'Butterscotch', 'Bat', 'Bun', 'Raspberries', 'Guinness', 'Five', 'Lovely', 'Fig,', 'Samosa', 'Rolls', 'Beer', 'Knots', 'Squishy', 'Upside', 'Lime,', 'Italian', "Noir'", 'Clefs', 'Pig', 'Pistachio', 'Macadamia', 'Biscuit', 'Basket', 'Leafy', 'Bars', 'Boozy', 'Ears', 'French', 'Matchsticks', 'Blackberry,', 'Peppercorn', 'Black', 'Suet', 'Trifle', 'Bonanzas;', 'Leek', "Dhal'", 'Pain', 'Minted', 'Geared', "Goat's", 'Spiced', 'Tarragon', 'Fruitti', 'Tattie', 'Festive', 'Home', 'manchet', 'Ruby', 'Sour', 'Rice', 'Lebkuchen', 'Union', 'Turron', 'Bouquet', "'Cheesy", 'Eggs', 'Crowd', 'Pistachio,', 'Tiered', 'Olive', 'Jack', 'an', 'Coffee,', 'Chocolatey', 'Panang', 'Tartlets\r', 'Kites', 'Garlic,', 'Mini', 'Au', 'Punch', "Greens'", 'Leaf,', 'Macchiato', 'Madeleines\r', 'Best', 'Dark', 'Gruyere', 'Brittle', '\t', 'Mint', 'Crazy', 'Courgette,', 'Icing', 'Ring', 'Apricots', 'Crispy', 'Kozunak', 'Fenugreek', 'G&T', "Citrus'", 'Stilton,', 'Full', 'St.', 'Pitas', 'Sticks', 'Aubergine', 'Syrup', 'Shortcrust', 'Madeleine', 'Palm', 'Smokey', 'Caribbean', 'Cobbled', 'Martini', 'Raised', 'Mille', 'Macarons', 'Salmon,', "Show'", 'Pots', 'Tahini', 'Génoise', 'Pastry', 'Monsieur', 'Flatbreads', 'Caramelly', 'Toad', 'Elderflower', 'Scones', 'Basil', 'Pine', 'Frappelatteccino', 'Summertime', 'Egg', 'Day', 'Wine', 'Tomato', 'Almond,', 'West'}
0

In [66]:
print(words_in_titles[0:4])

[['Light', ' ', 'Jamaican', ' ', 'Black', ' ', 'Cake', ' ', 'with', ' ', 'Strawberries', ' ', 'and', ' ', 'Cream'], ['Chocolate', ' ', 'Orange', ' ', 'Cake'], ['Caramel', ' ', 'Cinnamon', ' ', 'and', ' ', 'Banana', ' ', 'Cake'], ['Fresh', ' ', 'Mango', ' ', 'and', ' ', 'Passion', ' ', 'Fruit', ' ', 'Hummingbird', ' ', 'Cake']]

In [64]:
word_counts = {}
for word in unique_words:
    word_counts[word] = 0
for word in words:
    word_counts[word] = word_counts[word] + 1

word_data = pd.DataFrame()
word_data["Word"] = word_counts.keys()
word_data["Total Count"] = word_counts.values()
word_data.sort_values("Total Count", ascending=False, inplace=True)
word_data.head(20)

          Word  Total Count
855                    3809
0                      1080
167        and          345
389       Cake          118
771          &           73
590  Chocolate           65
830       with           55
486          /           49
768     Orange           45
432     Ginger           40
50       Lemon           38
21         Pie           36
301       Buns           30
94       Apple           28
841      Bread           28
182         \n           26
692   Biscuits           24
313     Almond           22
783       Loaf           22
607  Raspberry           22