In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
raw_data = pd.read_csv('GBBO Data Set - Bakes.csv')
raw_data.head()

,Season,Week Number,Baker,Week Name,Bake,Signature Bake,Signature Time Allotment (hours),Signature Sweet (1) or Savory (0),Signature Quantity,Signature Handshake,...,Showstopper Sweet (1) or Savory (0),Showstopper Quantity,Showstopper Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Competed,Winner,UK viewers (millions)
0,Series 1,1,Annetha,Cake,Cake,Light Jamaican Black Cake with Strawberries an...,3,1,1,0,...,1,1,0,1.0,0,0,0,1,0,NaN
1,Series 1,1,David,Cake,Cake,Chocolate Orange Cake,3,1,1,0,...,1,1,0,0.0,1,0,0,1,0,NaN
2,Series 1,1,Edd,Cake,Cake,Caramel Cinnamon and Banana Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,1,NaN
3,Series 1,1,Jasminder,Cake,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN
4,Series 1,1,Jonathan,Cake,Cake,Carrot Cake with Lime and Cream Cheese Icing,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN

In [3]:
raw_data.dtypes

Season                                  object
Week Number                              int64
Baker                                   object
Week Name                               object
Bake                                    object
Signature Bake                          object
Signature Time Allotment (hours)        object
Signature Sweet (1) or Savory (0)       object
Signature Quantity                      object
Signature Handshake                      int64
Technical Bake                          object
Technical Recipe Writer                 object
Technical Time Allotment (hours)        object
Technical Sweet (1) or Savory (0)      float64
Technical Quantity                      object
Technical Rank                         float64
Showstopper                             object
Showstopper Bake                        object
Showstopper Time Allotment (hours)      object
Showstopper Sweet (1) or Savory (0)     object
Showstopper Quantity                    object
Showstopper Handshake                    int64
Favorite                               float64
Least Favorite                           int64
Star Baker                               int64
Eliminated                               int64
Competed                                 int64
Winner                                   int64
UK viewers (millions)                  float64
dtype: object

In [4]:
clean_data = raw_data[["Season","Week Number","Baker","Bake","Signature Bake"]]
clean_data["Sweet"] = raw_data["Signature Sweet (1) or Savory (0)"].astype("bool")
clean_data["Handshake"] = raw_data["Signature Handshake"].astype("bool")
clean_data = pd.concat([clean_data,raw_data[["Favorite","Least Favorite","Star Baker","Eliminated","Winner"]].astype("bool")], axis=1)
print("Total entries: " + str(len(clean_data.index)))
clean_data.head()

Total entries: 823

,Season,Week Number,Baker,Bake,Signature Bake,Sweet,Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Winner
0,Series 1,1,Annetha,Cake,Light Jamaican Black Cake with Strawberries an...,True,False,True,False,False,False,False
1,Series 1,1,David,Cake,Chocolate Orange Cake,True,False,False,True,False,False,False
2,Series 1,1,Edd,Cake,Caramel Cinnamon and Banana Cake,True,False,False,False,False,False,True
3,Series 1,1,Jasminder,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,True,False,False,False,False,False,False
4,Series 1,1,Jonathan,Cake,Carrot Cake with Lime and Cream Cheese Icing,True,False,False,False,False,False,False

In [5]:
titles = clean_data["Signature Bake"]
words = []
words_in_titles = []
numErrors = 0
for title in titles:
    try:
        if(type(title) is str):
            words_in_titles.append(re.split('( |/|\t|\n|-)', title))
            words.extend(words_in_titles[-1])
    except Exception as e:
        numErrors = numErrors + 1
        print(e)
        print(title)
        break

unique_words = set(words)
print("Number of unique words: " + str(len(unique_words)))
print(unique_words)
print(numErrors)

Number of unique words: 1003
{'', 'Monsieur', 'Rice', 'Cygnets', 'Flower', "Victoria's", 'Curd', 'Wild', 'Aubergine', 'Swiss', 'Blue', 'Onion', 'Molten', 'English', 'Opposites', 'Goats', 'Kozunak', 'Bumblebee', 'Mango', 'Yeast', 'Chip', 'Bread', 'Lardy', 'Gluten', 'Pistachio', 'Pontefract', 'Lemonade', 'Cupcake', 'Shallot,', 'flavored', 'Panettone', 'Spinach', 'Layered', 'Berry', 'Icing', 'Shallot', 'Macadamia', 'Peppers', 'Me', 'Clefs', 'Pork', 'Quarantine', 'Carom', 'Pies', 'Cheesecake', 'Geared', 'Poppy', 'Granola', 'Wellington', 'cream', 'Plaits', 'Ginger', 'Oatcakes', 'Financiers', 'Grey', 'Gingernuts', 'Chiffon', 'City', 'Honeycomb', 'Nikuman', 'Raspberries', 'Timperley', 'Stem', 'Lime,', "Goat's", 'Frosted', 'Fondants', 'Gravy', 'Swirly', 'Apricot,', 'Night', 'Curry', '-', 'Creme', 'Baba', 'Shortcrust', 'Poached', 'Redcurrant', 'Kick', 'Bundt', 'freshly', 'Date', 'away', 'Ghost', 'Sundried', 'Cob', 'Wood', 'Peach', 'Cambozola', 'Salmon,', 'Sun', 'Banana', 'Aloo', 'Panda', 'Vinci', 'Caerphilly', 'Father', 'Witch', 'Pecan', 'Chelsea', "Show'", 'Semlor', 'Cassis', 'Profiteroles', 'Queen', 'Barberry', 'Mexican', 'Roasted', 'Feuille', 'Brith)', 'Lavender', 'Asparagus', 'Rose', 'Japanese', 'Stromboli', 'Thyme', 'Cupcakes', 'Apricots', "Treats'", 'Honeyed', 'Burfi', 'Lemongrass', 'Martini', 'Fingers', "Kick'", 'Halwa', 'Amarene', 'Biscuit', 'Brownie', 'Ginger,', 'Dulce', 'Fig,', 'Coco', 'Mojito', 'Trucking', 'Celeriac', 'Brûlée', 'Lentil', 'De', 'Ruby', 'Turkish', 'Almonds', 'Gobi', 'Tropical', 'Liqueur', 'Fennel', 'Post', 'Down', 'Grapefruit,', "S'mores'", 'Pudding', "Granny's", 'Matchsticks', 'Fruitti', 'Yuzu', 'Loaf', 'Feathered', 'Cod', 'Mozzarella,', 'Banoffee', 'Pina', 'Saucy', 'Devonshire', 'Quiche', 'Brie', 'Squishy', 'Cornish', 'Tear', 'Tomato,', 'Rarebit', 'Less', 'Answer', 'Cauliflower,', 'Hmmmm', 'Mille', 'Pithivier', 'Seeded', 'Cardamom,', 'Olive', 'Tiffin', 'Home', 'Moroccan', 'Battenberg', '\t', 'Nougat', 'Melts', 'Leafy', 'Blanc', 'Pea', 'Carroty', 'Lait', 'Glaze', 'Choc', 'Langues', 'Oat', 'Twist', 'Nicely', 'Raspberry,', 'Festival', 'Farthing', 'Samosa', "'Tapas'", 'Raisins,', 'Roadkill', 'Sohan', 'Truffle', 'Slice', 'Meringue', 'Game', 'Kawaii', 'Summery', '&', 'Tomatoes', 'Gingerbread', 'Chilli', 'Best', "Peg's", 'Water', 'Gujarela', 'Choi', 'Smoky', 'Margarita', 'Clementine', 'Tangy', 'Tomato', 'Melting', 'Sunflower', 'My', 'Hummus', 'Martini\xa0Madeleines', 'Mega', 'Early', '/', 'Scandinavian', 'Mocha', 'Cobbled', 'St.', 'Sage', 'Bunskis', 'Dick', 'Wedding', 'Dried', 'Cup', 'Rum', 'Leek', 'Ears', 'Amber', 'Kirsch', 'Eton', 'Crusty', 'Pie', 'Have', 'Surprise', 'Swirl', 'Rainbow', 'Lake', 'India', 'Shaped', 'Cherrylicious', 'Barfi', 'Sugar', 'Colada', "Summer's", 'Masala', 'Jamaican', 'Chestnut', 'Two,', 'Treats', "Noir'", 'Fancy', 'Carrots', 'Gras', 'Syrup', 'Eastern', 'Waistcoat', 'Stout', 'Jalapeño,', 'Breadsticks', 'Lovely', 'Herby', 'Basket', 'Breads', 'Cardamom', 'Barmbrack', 'Babka', 'Tattie', 'Red', 'Bombay', 'After', 'Spotted', 'New', 'The', 'Hole', 'Tudor', 'Burger', 'Paneer', 'Panang', 'Nana', 'Doughnuts', 'Pâtissière', 'Crackers', 'Window', 'Spanish', "Mamgu's", 'Cardiff', 'Guinness', 'Stilton,', 'Jelly', 'Choux', "Grandma's", 'Tiered', "Family's", 'Apricot', 'Sour', 'Garlic', 'Free', 'Flats', 'Venison', 'Virgin', 'Polenta', 'Praline', 'Roti', 'Explosion', 'Tarts', 'Cheesy', 'Florida', 'Caraway', 'Pumpkin', 'Easter', 'Rhum', 'Smørrebrød', 'Chutney', 'Ring', 'Chaussons', 'Spice', 'Turmeric', 'Mixed', 'Tree', 'Plait,', 'Watercress', 'Amaretto', 'Fish', 'Upside', 'Trifle', 'Chocolatey', 'Chocolat', 'Créme', 'Lamb', 'Mallow', 'Cinnamon', 'Garlic,', 'Coconut', 'Swedish', 'Bara', 'a', 'Traybake', 'Smørrebrød\r', 'Traditional', 'Brith', 'Samosas', 'Kardemummabullar', 'Fresh', 'Soda', 'Multi', "Arundel's", 'Prawn', 'y', 'Sultana', "Za'atar", 'Magic', 'Caramel', 'Spelt', 'Adventure', 'Hazelnut,', 'de', 'Spiced', 'Nutmeg', 'Savarin', 'Florentine', 'Chantenay', 'Crystals', 'Spices', 'Focaccia', 'Roulade', 'Compromise', 'Duck', 'Dukkah', 'Drinks', 'Courgette,', 'Towering', 'Sauce', 'Zupfe', '(Cheese', 'Génoise', 'Flatbreads', 'Mascarpone', 'Pineapple', 'Cheeky', 'Abricot', 'Tagine', 'Pears', 'Tarte', 'Marley', 'Salsa', 'Zaatar', 'Coulibiac', 'Shanghai', 'Breakfast', 'Marzipan', 'Tomato\xa0Quiches\xa0and\xa0Mascarpone\xa0Squirrel', 'Frappelatteccino', 'Peanut', 'Pastries', 'Mushroom,', 'Sweet', 'Rong', 'Mardi', 'Lady', 'Leek,', 'Elephant', 'Sourdough,', 'Café', 'Treble', 'Chaat', 'Scones', 'Custards', 'Pain', 'Crunch', 'Chorizo', 'Coconut,', 'Asian', 'Tipple', 'Nigella', 'Caramel,', 'Ghugni', 'Italy', 'Wreath', 'Smoked', 'Eat', 'Drizzle', 'Flavours', 'Pepper', 'Mango,', 'Eggs', 'Blueberry', "Millionaires'", 'Walnut', 'Vegetable', 'Figgy', 'Mangoes', 'Posto', 'White', 'Ripple', 'Cranachan', 'Tarragon', 'Kale', 'Flowers', 'Carrot', 'Baa', 'Roquefort', 'Miniature', 'Marula', 'Mini', "Ploughman's", 'Pinwheels', 'Manchester', 'Quiches', 'Citrus', 'Favourite', 'Gin', 'Dates,', 'Noson', 'Cheese', 'Day', 'Sponges', 'Velvet', 'Brown', 'Au', 'Accompaniment', 'Tart', 'Wellingtons', 'Crunchy', 'Wine', 'Three', 'to', 'Aromatic', '1920s', 'Bouquet', 'Fruits', 'Yorkshire', 'Pink', 'District', 'Seeds', 'Madeleines\r', 'Bannock', 'Savoury', 'Bunting', 'Prosciutto,', 'Everything', 'Black', 'Twisty', 'Rhubarb,', 'Haggis', 'Pickle', 'Pig', 'Boaring', 'Layers', 'Pots', 'Mess', 'Oxford', 'Creams', 'Tartlets', 'Union', 'Croissants', "Citrus'", 'Rhubarb', 'Opera', "S'mores", 'Middle', 'Warm', 'Blossom', 'Devon', 'Chicken', 'Cauliflower', 'Tatin', 'Bonanzas;', 'Tea', 'Chunk', 'Aperitif', 'Caramelised', 'Simnel', 'Street', 'Hot', 'Blackberry', 'Gâteau', 'Family', 'Broccoli', 'Dumplings', 'Salt', 'Chickpea,', 'Tiramisu', 'Macchiato', 'Tortillas', 'Toffee', "'Cheesy", 'Two', 'York', 'Orange,', 'Bacon,', 'Malt', 'Frasier', 'Citron', 'Tofu', 'Nut', 'Brunch', 'Bacon', 'Caws', "Summer'", 'East', 'of', 'Chilli,', 'Brownies', 'Cheshire', 'Danish', 'Frosting', 'Ways', 'Holiday', 'Gruyère', 'Night)', 'Lebkuchen', 'Pecan,', 'Pot', 'Torte', 'Taboon', 'Rosewater', 'Potato,', 'Parma', 'West', 'Cyflym', 'Apples', 'Cakes', 'Morning', 'Iced', 'Hummingbird', 'Pitcaithly', 'Frangipane', 'Mushroom', 'Saffron', 'Cheddar', 'Yoghurt', 'for', 'Suet', 'Oatmeal', 'Ambulance', 'Egg', 'Pistachio,', 'Picante', 'Cheeseburger', 'Full', 'Crème', 'Mocha,', 'Couronne', 'Novel', 'in', 'Jam', 'Chorizo,', 'Marmalade', 'Onions', 'Fruit', 'Stained', 'French', "It'", 'Katsu', "'Creams'", 'Plum', 'Plum,', 'Honey', 'Crumble', 'Barbecue', 'Italiano', 'Perkins', 'Mediterranean', 'Zingy', 'Maple', 'Guglhupf', 'Gimmie', 'Empanadas', 'Pak', 'Somewhere', 'Treat', 'Tangzhong', 'Festive', 'Cross', 'Caribbean', 'Macarons', 'Cheesecakes', 'Blood', 'Beehive', 'Veg', 'Butternut', 'Balsamic', 'Classic', 'Palmiers', 'Pear,', 'Parsnip,', 'Kugelhopf', 'Horns', 'Cake', 'Punch', "Dhal'", 'Butterscotch', 'Sausage', 'Strawberry,', 'Pizza', 'Pineapple,', 'Mint,', 'Walnut,', 'Lemon', 'Piña', 'Gorgonzola', 'Ham,', 'Dinner', 'Passionfruit', 'Falafel', 'Bonus', 'Quick', 'Sesame', 'Style', 'Crab,', 'ét', "Latte'", 'Summer', 'Brûlées', "Greens'", 'Chicken,', 'Domed', 'Royal', 'Spring', 'Belly', 'au', 'G&T', 'Gym', 'Picnic', 'Pigeon', 'Chopped', 'Ni', "Dreams'", 'Potato', 'Whip', 'Pandan', 'Jack', 'Good', 'Romantic', 'Friands', 'Plait', 'Braid', 'Shrewsburys', 'Crowd', 'Rosemary', 'Pasties', 'Welsh', 'Raspberry', 'Bat', 'Brittle', 'Mousse', 'Boy', 'Coffee,', 'Bunny', "Millionaire's", 'Boozy', 'Little', 'Fusion', '"Wheelie', 'Grapefruit', 'Red,', 'Celebration', 'Sky', 'Manchego', 'Raised', 'Tutti', 'Liquorice', 'Babas', 'Kumquat', 'Rolls', 'Seabass', 'Great', 'Salmon', 'Puffs', 'Earl', 'Fours', "Past'", 'Filled', 'Apple', "Flute'", 'Own', 'Mont', 'Not', 'Moments', 'chip', 'Double', 'Treacle', 'Flour', 'Cranberry', 'Singara', "'With", 'Spinach,', 'Fudge', 'Stilton', 'Broads"', 'Pleaser', 'Hazelnut', 'Turron', 'Biscuits"', 'Armagnac', 'Buns', 'Peak', 'A', 'Lassi', 'Poly', 'Raisin', 'Strawberries', 'Triple', 'Madeleine', 'Candied', 'Strawberry', 'Baklava', 'Fig', 'Thai', 'Finnish', 'Onion,', 'Chocolate,', 'Mojito\xa0Madeleines', 'Kedgeree', 'Chutney,', 'Roly', 'Pomegranate', 'Peach,', 'Pitas', 'Halloween', "America'", 'Bait', 'Savarins', 'Minted', 'Pine', 'Cider', 'Dose', 'Da', 'an', 'Hearts', 'Jalapeño', 'Wasabi', 'Kiwi', 'Spirals', 'Foldovers', 'Chocolate', 'Lime', 'Shiny', 'Jackfruit,', 'Tequila,', 'Thins', 'Florentines', 'Toad', '(Our', 'Wheat', 'Comforts', 'Biscuits', 'Parsnip', 'Crab', 'Lemon,', 'Calvados', 'Lincolnshire', 'Bonfire', 'Tonic', 'Sticky', 'Cookies', 'Malt,', 'Beef', 'Green', 'Clements', 'Kachori', 'Cone', 'Smokey', 'Orangey', 'Naan', 'Fenugreek', 'Kites', 'Sunday', 'Pastry', "Mum's", 'Squashy', 'Perfect', 'Seed', 'Apple,', 'Cayenne,', 'Almond,', 'the', 'Nuts', 'Childhood', 'Peacock', 'Jubilee', 'Tasty', 'Streaky', 'Misti', 'Peppermint', 'Island', 'Mum', 'Teulu', 'Inspired', 'Petal', 'Coriander', 'Pancetta', 'Rotis', 'Hemp', 'Purée', 'Diplomat', 'Raisins', 'Goosnargh', 'Empire', 'Oregano', 'Indian', 'Ice', 'Decadent', 'Shortbread', 'For', 'Bars', 'Zest', 'Blackberry,', 'Muscat', 'Cupcakes,', 'Piggy', 'Keralan', 'Cinnamon,', 'Spicy', 'Rye', 'Giant', 'Roll', 'Madeira', 'Sunshine', 'Beer', 'Tahini', 'Cherry', 'Crazy', 'Glass', 'Swirls', 'Desert', 'Minced', 'Millionaire', ' ', 'Petits', 'Chapatis', 'Elderflower', 'Sticks', 'Biscotti', 'Vanilla,', 'Crispy', 'Knots', 'In', 'Italian', 'Fruity', 'Leche', 'Summertime', 'Cream', 'Bazaar', 'made', 'Ham', 'Sandwich', 'Rustic', 'Attract', 'Winter', 'Share', 'Palm', 'Lemons', 'Gruyere', 'nutty', 'Bittersweet', 'Christmas', 'Leaf,', 'Triangles', 'Baked', 'Granny', 'Crusted', 'Topped', 'with', 'Pumpkin,', "Dad's", 'Wicked', 'German', 'Marshmallow', 'Salted', 'Chat', 'Beetroot', 'and', 'Indulgence', 'Proper', 'Printanière', 'Country', 'Mint', 'Aberffraw', 'Homely', 'on', 'Light', 'Bakewell', 'Haddock', 'Five', 'Nutty', 'Naked', 'Mandarin', 'Caramelly', 'Butter', 'Pick', 'manchet', 'Chai', 'Roast', 'Brioche', "Rogers'", 'Croque', 'Drip', 'Tartlets\r', 'Four', 'Bramble', 'vs', 'Forest', 'Peppercorn', 'Espresso', 'Paprika', 'Pesto', 'Prune', 'Passion', 'Parmesan', 'Anchovy,', 'Cumin', '"A', 'Salad', 'Bay', 'Star', 'Vanilla', 'Your', '\n', 'Crown', 'Limoncello', 'Clove', 'Egyptian', 'Grissini', 'Custard', 'Steamed', 'Bun', 'Zesty', 'Meat', 'Puddings', 'Dark', 'Yorkshires', 'Coffee', 'Ode', 'Cookie', 'Almond', 'Clootie', 'Cheese,', 'Pear', "Christmas'", 'Orange', '"Beer"', 'Basil', 'Madeleines'}
0

In [6]:
print(words_in_titles[0:4])

[['Light', ' ', 'Jamaican', ' ', 'Black', ' ', 'Cake', ' ', 'with', ' ', 'Strawberries', ' ', 'and', ' ', 'Cream'], ['Chocolate', ' ', 'Orange', ' ', 'Cake'], ['Caramel', ' ', 'Cinnamon', ' ', 'and', ' ', 'Banana', ' ', 'Cake'], ['Fresh', ' ', 'Mango', ' ', 'and', ' ', 'Passion', ' ', 'Fruit', ' ', 'Hummingbird', ' ', 'Cake']]

In [7]:
word_counts = {}
for word in unique_words:
    word_counts[word] = 0
for word in words:
    word_counts[word] = word_counts[word] + 1

word_data = pd.DataFrame()
word_data["Word"] = word_counts.keys()
word_data["Total Count"] = word_counts.values()
word_data.head(20)

          Word  Total Count
0                      1080
1     Monsieur            1
2         Rice            1
3      Cygnets            1
4       Flower            3
5   Victoria's            1
6         Curd            6
7         Wild            2
8    Aubergine            1
9        Swiss           11
10        Blue            1
11       Onion           13
12      Molten            1
13     English            2
14   Opposites            1
15       Goats            1
16     Kozunak            1
17   Bumblebee            1
18       Mango           14
19       Yeast            1

In [8]:
def drop_rows(mask, data):
    match_inds = data.index[mask]

    print("Dropping:\n" + str(data.loc[mask]))
    return data.drop(match_inds)

In [9]:
#match and drop any rows that are purely non-word characters
matches = word_data['Word'].apply(lambda string : re.search(r'^\W$',string))
match_mask = matches.apply(lambda match : match is not None)
word_data = drop_rows(match_mask, word_data)
word_data.reset_index(drop=True, inplace=True)

Dropping:
    Word  Total Count
72     -           17
183   \t           18
211    &           73
232    /           49
887              3809
977   \n           26

In [10]:
#match and keep only words that start with a capital letter
matches = word_data['Word'].apply(lambda string : re.match(r'\W?[A-Z]', string))
match_mask = matches.apply(lambda match : match is None)
word_data = drop_rows(match_mask, word_data)
word_data.reset_index(drop=True, inplace=True)

Dropping:
         Word  Total Count
0                     1080
29   flavored            1
49      cream            1
79    freshly            1
81       away            1
350         a            5
362         y            1
370        de            1
480        to            2
482     1920s            1
555        of           11
586       for            2
599        in            2
665        ét            1
675        au            5
734      chip            1
783        an            1
831       the            2
898      made            1
908     nutty            1
917      with           55
926       and          345
934        on            1
945   manchet            1
955        vs            1

In [11]:
word_data.sort_values("Total Count", ascending=False, inplace=True)
print("Total words after cleaning: " + str(len(word_data.index)))
word_data.head(20)

Total words after cleaning: 972

          Word  Total Count
630       Cake          118
773  Chocolate           65
968     Orange           45
48      Ginger           40
640      Lemon           38
241        Pie           36
734       Buns           30
713      Apple           28
20       Bread           28
784   Biscuits           24
963     Almond           22
591      Fruit           22
149       Loaf           22
682  Raspberry           22
434     Walnut           20
460     Cheese           19
957   Puddings           19
467       Tart           18
878      Cream           18
439      White           17

In [187]:
print("The dataframe has " + str(len(word_data['Total Count'])) + " entries.")
print("There are " + str(len(word_data[word_data['Total Count'] > 10])) + " entries with counts greater than 10.")

The dataframe has 997 entries.
There are 70 entries with counts greater than 10.